In [1]:
import pandas as pd
#RawData = pd.read_csv("/content/drive/MyDrive/Datasets/consumer_complaints.csv",encoding='latin-1')
RawData = pd.read_csv("story1.csv",encoding='latin-1')

In [2]:
RawData.shape

(49, 4)

In [3]:
RawData.head()

,Story,Title,Moral,Keyword
0,"Once upon a time in a bustling city, there was...",The Curious Explorer,Curiosity can lead to great achievements.,Curiosity
1,"In a small village, there was a poor farmer wh...",The Hidden Treasure,Hard work and perseverance can reveal unexpect...,Perseverance
2,A diligent student spent every night studying ...,The Dedicated Student,Dedication and discipline lead to success.,Dedication
3,"In a dense forest, a clever fox was always out...",The Clever Fox,Cleverness can overcome strength.,Cleverness
4,A kind-hearted woman rescued a stray dog from ...,The Loyal Companion,Kindness is often returned with loyalty and love.,Kindness

In [4]:
#store product, complaints in data
Data = RawData[['Story','Keyword']]
Data = pd.concat([Data] * 100, ignore_index=True)
Data.head()

                                               Story       Keyword
0  Once upon a time in a bustling city, there was...     Curiosity
1  In a small village, there was a poor farmer wh...  Perseverance
2  A diligent student spent every night studying ...    Dedication
3  In a dense forest, a clever fox was always out...    Cleverness
4  A kind-hearted woman rescued a stray dog from ...      Kindness

In [5]:
Data.shape

(4900, 2)

In [6]:
Data[Data['Story'].notnull()]

                                                  Story       Keyword
0     Once upon a time in a bustling city, there was...     Curiosity
1     In a small village, there was a poor farmer wh...  Perseverance
2     A diligent student spent every night studying ...    Dedication
3     In a dense forest, a clever fox was always out...    Cleverness
4     A kind-hearted woman rescued a stray dog from ...      Kindness
...                                                 ...           ...
4895  A passionate gardener nurtured a community gar...    Dedication
4896  A talented actor trained extensively for his r...    Dedication
4897  A diligent researcher studied the effects of c...     Diligence
4898  A loving pet owner cared for her animals with ...     Affection
4899  A talented photographer captured breathtaking ...    Creativity

[4900 rows x 2 columns]

In [7]:
Data = Data[pd.notnull(Data['Story'])]

In [8]:
Data.head()

                                               Story       Keyword
0  Once upon a time in a bustling city, there was...     Curiosity
1  In a small village, there was a poor farmer wh...  Perseverance
2  A diligent student spent every night studying ...    Dedication
3  In a dense forest, a clever fox was always out...    Cleverness
4  A kind-hearted woman rescued a stray dog from ...      Kindness

In [9]:
Data.shape

(4900, 2)

In [10]:
import re

def clean_sentence(sentence):

    # Remove numbers
    sentence = re.sub(r'\d+', '', sentence)

    # Remove special characters and punctuation (except for spaces)
    sentence = re.sub(r'[^\w\s]', '', sentence)

    # Convert to lowercase
    sentence = sentence.lower()

    # Remove extra whitespace
    sentence = sentence.strip()
    # Remove sequences of 'x' that are 3 or more characters long
    sentence = re.sub(r'x{2,}', '', sentence)

    return sentence

In [11]:
Data['clean'] = Data['Story']

In [12]:
Data.head()

,Story,Keyword,clean
0,"Once upon a time in a bustling city, there was...",Curiosity,"Once upon a time in a bustling city, there was..."
1,"In a small village, there was a poor farmer wh...",Perseverance,"In a small village, there was a poor farmer wh..."
2,A diligent student spent every night studying ...,Dedication,A diligent student spent every night studying ...
3,"In a dense forest, a clever fox was always out...",Cleverness,"In a dense forest, a clever fox was always out..."
4,A kind-hearted woman rescued a stray dog from ...,Kindness,A kind-hearted woman rescued a stray dog from ...

In [13]:
Data.groupby('Keyword').Story.count()

Keyword
Affection         100
Bravery           100
Cleverness        100
Commitment        100
Compassion        200
Courage           100
Creativity        200
Curiosity         200
Dedication        800
Determination     100
Diligence         100
Empathy           100
Generosity        100
Guidance          100
Innovation        300
Kindness          200
Knowledge         100
Meticulousness    100
Passion           100
Patience          200
Peace             100
Perseverance      300
Persistence       200
Preparation       100
Resilience        100
Selflessness      100
Skill             100
Sustainability    100
Teamwork          100
Wisdom            300
Name: Story, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
# Get unique values from the 'product' column and sort them
unique_values = Data['Keyword'].unique()

# Fit the LabelEncoder with the sorted unique values
label_encoder.fit(unique_values)

# Transform class labels into encoded integers
encoded_labels = label_encoder.transform(Data['Keyword']. unique())

print("Encoded Labels:", encoded_labels) # Output: [0 1 2 0 2 1]

# Use inverse_transform to convert encoded integers back to original class labels
decoded_labels = label_encoder. inverse_transform(encoded_labels)

print("Decoded Labels:", decoded_labels) # Output: ['cat' 'dog' 'bird' 'cat' 'bird' 'dog']

Encoded Labels: [ 7 21  8  2 15 20 19 14 29  3 12 28  9  5 22  4 16 26 24 23 13 25  6 18
 11 17 27  1 10  0]
Decoded Labels: ['Curiosity' 'Perseverance' 'Dedication' 'Cleverness' 'Kindness' 'Peace'
 'Patience' 'Innovation' 'Wisdom' 'Commitment' 'Generosity' 'Teamwork'
 'Determination' 'Courage' 'Persistence' 'Compassion' 'Knowledge' 'Skill'
 'Resilience' 'Preparation' 'Guidance' 'Selflessness' 'Creativity'
 'Passion' 'Empathy' 'Meticulousness' 'Sustainability' 'Bravery'
 'Diligence' 'Affection']

In [15]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
train_x, valid_x, train_y, valid_y = train_test_split(Data['Story'], Data['Keyword'], test_size=0.2, random_state=42)

tfidf_vect = TfidfVectorizer(analyzer='word', token_pattern=r'\w{1,}', max_features=10000)
tfidf_vect.fit(Data['clean'])
xtrain_final = tfidf_vect.transform(train_x)
xvalid_final = tfidf_vect.transform(valid_x)
print("data tokenized")

data tokenized

In [16]:
from sklearn import model_selection , linear_model , metrics
from sklearn.linear_model import LogisticRegression

#Feature Engineering using TF-IDF
encoder = preprocessing.LabelEncoder()
train_y = encoder. fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)
# Logistic Regressionlr_model = LogisticRegression(max_iter=400, C=1.0)  # Adjust C value

lr_model = linear_model.LogisticRegression(max_iter=400, C=1.0).fit(xtrain_final, train_y)

accuracy = metrics.accuracy_score(lr_model.predict(xvalid_final),valid_y)
print("Logistic Regression Accuracy : ",accuracy*100)

Logistic Regression Accuracy :  100.0

In [17]:
import pickle

# Save model
with open('logistic_regression_model.pkl', 'wb') as file:
    pickle.dump(lr_model, file)

# Load model
with open('logistic_regression_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

In [18]:
# Curiosity
text1=["Once upon a time in a bustling city, there was a young boy who loved to explore. One day, he found a hidden alley filled with old books. He spent hours reading and learning about ancient cultures. Eventually, he grew up to become a renowned historian. His curiosity and love for knowledge led him to great success."]
# Wisdom
text2=["In an ancient village, there was a wise old man who always gave sound advice. One day, he helped a young woman solve a personal problem. Her life changed for the better, showing the importance of seeking wisdom from experienced individuals."]
# Dedication
text3=["There once was a boy who grew bored while watching over the village sheep. He wanted to make things more exciting. So, he yelled out that he saw a wolf chasing the sheep. All the villagers came running to drive the wolf away. However, they saw no wolf. The boy was amused, but the villagers were not. They told him not to do it again. Shortly after, he repeated this antic. The villagers came running again, only to find that he was lying. Later that day, the boy really sees a wolf sneaking amongst the flock. He jumped up and called out for help. But no one came this time because they thought he was still joking around. At sunset, the villagers looked for the boy. He had not returned with their sheep. They found him crying. He told them that there really was a wolf, and the entire flock was gone. An old man came to comfort him and told him that nobody would believe a liar even when they are being honest."]

In [19]:
import numpy as np
#Clean the sample input
cleaned_sentence = clean_sentence(text3[0])
final = [cleaned_sentence]
print("Input  : ",final[0])
text_features = tfidf_vect.transform(final)

def logisticRegression(text_features):
    prediction1 = loaded_model.predict(text_features)
    decoded_labels = label_encoder. inverse_transform(prediction1)
    #print("Output : ",decoded_labels[0])
    for keyword in decoded_labels:
        relevant_morals = RawData[RawData['Keyword'] == keyword]['Moral']
        print("Moral  : ",relevant_morals.iloc[0])
        

logisticRegression(text_features)

Input  :  there once was a boy who grew bored while watching over the village sheep he wanted to make things more exciting so he yelled out that he saw a wolf chasing the sheep all the villagers came running to drive the wolf away however they saw no wolf the boy was amused but the villagers were not they told him not to do it again shortly after he repeated this antic the villagers came running again only to find that he was lying later that day the boy really sees a wolf sneaking amongst the flock he jumped up and called out for help but no one came this time because they thought he was still joking around at sunset the villagers looked for the boy he had not returned with their sheep they found him crying he told them that there really was a wolf and the entire flock was gone an old man came to comfort him and told him that nobody would believe a liar even when they are being honest
Moral  :  Dedication and discipline lead to success.